@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@media print {
  /* Hide everything except the page content */
  body * {
    /* display: none; */
    /* width: 100vw; */
    max-height: 100vh;
  }
  table {
    width: 100%;
    margin: 50px auto;
  }
  #InvoiceToPrint {
    display: block !important;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    /* height: 100vh; */
    background-color: white;
    padding: 20px;
    /* padding-top: 0 !important; */
    z-index: 99999;
    font-family: "Roboto Condensed", sans-serif;
  }

  #InvoiceToPrint .temp-logo-container {
    width: 160%;
  }

  #InvoiceToPrint .temp-header {
    display: flex;
    align-items: stretch;
    justify-content: center;
    justify-items: center;
    /* width: 100vw; */
    flex-direction: row;
    margin: auto;
    max-width: 65%;
    gap: 15px;
    flex-wrap: nowrap;
  }
  #InvoiceToPrint .temp-date-and-number {
    background: #183157;
    color: white;
    width: 100;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* max-height: 100%; */
    /* min-height: 100%; */
    justify-content: flex-end;
    align-content: center;
    align-items: stretch;
  }
  #InvoiceToPrint .temp-date-and-number h1 {
    text-align: center;
    font-size: 31px;
    font-weight: bolder;
  }
  #InvoiceToPrint .temp-date-and-number .temp-data-and-number-content {
    /* padding-bottom: 50px; */
    background-color: #213f69;
    text-align: center;
    font-weight: bolder;
  }
  #InvoiceToPrint .temp-date-and-number .temp-data-and-number-content table {
    max-width: 170px;
    margin: auto;
    margin-bottom: 20px;
    width: 85%;
  }
  #InvoiceToPrint
    .temp-date-and-number
    .temp-data-and-number-content
    table
    tr
    td:first-child {
    text-align: left;
  }
  #InvoiceToPrint > h1 {
    padding: 10px;
    background-color: #f2f2f2;
  }
  #InvoiceToPrint .temp-bill-to {
    padding: 20px;
  }
  #InvoiceToPrint .temp-bill-to h3 {
    font-weight: bold;
    background: #f2f2f2;
    padding: 10px;
  }

  #InvoiceToPrint .temp-bill-to p {
    padding-left: 30px;
  }
  #InvoiceToPrint .temp-bill-to p:first-of-type {
    padding-top: 15px;
    padding-left: 24px;
    font-weight: bold;
  }
  #InvoiceToPrint > table tbody tr td {
    padding-left: 15px !important;
    font-family: Arial, Helvetica, sans-serif;
  }
  #InvoiceToPrint .temp-bold-info {
    /* text-align: right; */
    font-weight: bold;
    margin-right: 20px;
    margin: 10px;
  }
  #InvoiceToPrint .temp-bold-info:first-child,
  #InvoiceToPrint .temp-bold-info.temp-total {
    text-align: right !important;
  }
  #InvoiceToPrint .temp-bold-info span {
    padding: 20px;
    background: #f4f4f4;
    text-decoration: underline;
  }
  #InvoiceToPrint footer {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    /* top: 0; */
    /* width: 100%; */
    margin: 15px;
  }
  #InvoiceToPrint footer p:last-child {
    color: white;
    background-color: #183157;
    text-align: right;
  }
  #InvoiceToPrint footer p:last-child span {
    padding: 0 25px;
    height: 100%;
    background-color: #213f69;
  }
  button {
    display: none;
  }
}
